name: "Build"

on: [ push, pull_request ]

jobs:
  build:
    name: 'Build'

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven

    - name: Package with Maven
      run: mvn clean package
